In [1]:
import pandas as pd

In [2]:
driver_standings = pd.read_csv("driver_standings.csv")
drivers = pd.read_csv("drivers.csv")
races = pd.read_csv("races.csv")
results = pd.read_csv("results.csv")
status = pd.read_csv("status.csv")

In [3]:
results.head(50)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
5,6,18,6,3,8,13,6,6,6,3.0,57,\N,\N,50,14,1:29.639,212.974,11
6,7,18,7,5,14,17,7,7,7,2.0,55,\N,\N,22,12,1:29.534,213.224,5
7,8,18,8,6,1,15,8,8,8,1.0,53,\N,\N,20,4,1:27.903,217.180,5
8,9,18,9,2,4,2,\N,R,9,0.0,47,\N,\N,15,9,1:28.753,215.100,4
9,10,18,10,7,12,18,\N,R,10,0.0,43,\N,\N,23,13,1:29.558,213.166,3
10,11,18,11,8,18,19,\N,R,11,0.0,32,\N,\N,24,15,1:30.892,210.038,7
11,12,18,12,4,6,20,\N,R,12,0.0,30,\N,\N,20,16,1:31.384,208.907,8
12,13,18,13,6,2,4,\N,R,13,0.0,29,\N,\N,23,6,1:28.175,216.510,5
13,14,18,14,9,9,8,\N,R,14,0.0,25,\N,\N,21,11,1:29.502,213.300,4
14,15,18,15,7,11,6,\N,R,15,0.0,19,\N,\N,18,10,1:29.310,213.758,10
15,16,18,16,10,20,22,\N,R,16,0.0,8,\N,\N,8,17,1:32.021,207.461,9
16,17,18,17,9,10,14,\N,R,17,0.0,0,\N,\N,\N,\N,\N,\N,4
17,18,18,18,11,16,12,\N,R,18,0.0,0,\N,\N,\N,\N,\N,\N,4
18,19,18,19,8,19,21,\N,R,19,0.0,0,\N,\N,\N,\N,\N,\N,4
19,20,18,20,5,15,9,\N,R,20,0.0,0,\N,\N,\N,\N,\N,\N,4
20,21,18,21,10,21,16,\N,R,21,0.0,0,\N,\N,\N,\N,\N,\N,4
21,22,18,22,11,17,10,\N,D,22,0.0,58,\N,\N,44,8,1:28.736,215.141,2
22,23,19,8,6,1,2,1,1,1,10.0,56,1:31:18.555,5478555,37,2,1:35.405,209.158,1
23,24,19,9,2,4,4,2,2,2,8.0,56,+19.570,5498125,39,6,1:35.921,208.033,1
24,25,19,5,1,23,8,3,3,3,6.0,56,+38.450,5517005,19,7,1:35.922,208.031,1
25,26,19,15,7,11,3,4,4,4,5.0,56,+45.832,5524387,53,8,1:36.068,207.715,1
26,27,19,1,1,22,9,5,5,5,4.0,56,+46.548,5525103,53,3,1:35.462,209.033,1
27,28,19,2,2,3,5,6,6,6,3.0,56,+49.833,5528388,55,1,1:35.366,209.244,1
28,29,19,17,9,10,6,7,7,7,2.0,56,+1:08.130,5546685,53,12,1:36.696,206.366,1
29,30,19,4,4,5,7,8,8,8,1.0,56,+1:10.041,5548596,40,10,1:36.288,207.240,1
30,31,19,14,9,9,12,9,9,9,0.0,56,+1:16.220,5554775,55,9,1:36.206,207.417,1
31,32,19,18,11,16,11,10,10,10,0.0,56,+1:26.214,5564769,56,4,1:35.715,208.481,1
32,33,19,12,4,6,13,11,11,11,0.0,56,+1:32.202,5570757,52,15,1:36.956,205.812,1
33,34,19,21,10,21,17,12,12,12,0.0,55,\N,\N,52,16,1:36.962,205.800,11
34,35,19,22,11,17,14,13,13,13,0.0,55,\N,\N,55,11,1:36.693,206.372,11
35,36,19,3,3,7,16,14,14,14,0.0,55,\N,\N,55,13,1:36.782,206.182,11
36,37,19,19,8,19,21,15,15,15,0.0,55,\N,\N,55,18,1:38.171,203.265,11
37,38,19,11,8,18,19,16,16,16,0.0,54,\N,\N,53,19,1:38.504,202.578,12
38,39,19,6,3,8,22,17,17,17,0.0,54,\N,\N,19,17,1:37.711,204.222,12
39,40,19,20,5,15,15,\N,R,18,0.0,39,\N,\N,37,14,1:36.870,205.995,5
40,41,19,13,6,2,1,\N,R,19,0.0,30,\N,\N,15,5,1:35.914,208.048,20
41,42,19,16,10,20,20,\N,R,20,0.0,5,\N,\N,3,20,1:40.330,198.891,9
42,43,19,10,7,12,10,\N,R,21,0.0,1,\N,\N,\N,\N,\N,\N,4
43,44,19,7,5,14,18,\N,R,22,0.0,0,\N,\N,\N,\N,\N,\N,20
44,45,20,13,6,2,2,1,1,1,10.0,57,1:31:06.970,5466970,38,3,1:33.600,208.153,1
45,46,20,8,6,1,4,2,2,2,8.0,57,+3.339,5470309,35,4,1:33.709,207.911,1
46,47,20,9,2,4,1,3,3,3,6.0,57,+4.998,5471968,55,5,1:33.775,207.765,1
47,48,20,2,2,3,6,4,4,4,5.0,57,+8.409,5475379,48,2,1:33.565,208.231,1
48,49,20,5,1,23,5,5,5,5,4.0,57,+26.789,5493759,49,1,1:33.193,209.062,1
49,50,20,15,7,11,7,6,6,6,3.0,57,+41.314,5508284,45,7,1:34.204,206.819,1

In [4]:
races.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [5]:
race_years = races[['raceId', 'year']]

In [6]:
drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [7]:
drivers_name = drivers[['driverId', 'driverRef']]

In [8]:
results.rename(columns={'positionOrder': 'new_points'}, inplace=True)
results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,new_points,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26075,26081,1110,817,213,3,19,16,16,16,0.0,44,+1:43.071,5053521,25,15,1:50.994,227.169,1
26076,26082,1110,858,3,2,18,17,17,17,0.0,44,+1:44.476,5054926,37,9,1:50.486,228.213,1
26077,26083,1110,807,210,27,0,18,18,18,0.0,44,+1:50.450,5060900,26,4,1:49.907,229.415,1
26078,26084,1110,832,6,55,4,\N,R,19,0.0,23,\N,\N,9,19,1:53.138,222.864,130
26079,26085,1110,857,1,81,5,\N,R,20,0.0,0,\N,\N,\N,0,\N,\N,130

In [9]:
results = pd.merge(results, race_years, on='raceId', how='inner')
results = pd.merge(results, drivers_name, on='driverId', how='inner')

In [10]:
results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,new_points,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,year,driverRef
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1,2008,hamilton
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1,2008,heidfeld
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1,2008,rosberg
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1,2008,alonso
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1,2008,kovalainen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26075,26081,1110,817,213,3,19,16,16,16,0.0,44,+1:43.071,5053521,25,15,1:50.994,227.169,1,2023,ricciardo
26076,26082,1110,858,3,2,18,17,17,17,0.0,44,+1:44.476,5054926,37,9,1:50.486,228.213,1,2023,sargeant
26077,26083,1110,807,210,27,0,18,18,18,0.0,44,+1:50.450,5060900,26,4,1:49.907,229.415,1,2023,hulkenberg
26078,26084,1110,832,6,55,4,\N,R,19,0.0,23,\N,\N,9,19,1:53.138,222.864,130,2023,sainz
26079,26085,1110,857,1,81,5,\N,R,20,0.0,0,\N,\N,\N,0,\N,\N,130,2023,piastri

In [11]:
new_results = results[['year', 'driverRef', 'points', 'new_points']]

In [12]:
summed_df = new_results.groupby(['year', 'driverRef']).agg({'points': 'sum', 'new_points': 'sum'}).reset_index()

In [22]:
summed_df_sorted = summed_df.sort_values(by='year')

# Then, sort by 'points' within each 'year' group in descending order
summed_df_sorted_points = summed_df_sorted.groupby('year', group_keys=False).apply(lambda x: x.sort_values(by='points', ascending=False))

# Then, sort by 'points' within each 'year' group in descending order
summed_df_sorted_new_points = summed_df_sorted.groupby('year', group_keys=False).apply(lambda x: x.sort_values(by='new_points', ascending=True))

C:\Users\carth\AppData\Local\Temp\ipykernel_27356\1219698632.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  summed_df_sorted_points = summed_df_sorted.groupby('year', group_keys=False).apply(lambda x: x.sort_values(by='points', ascending=False))
C:\Users\carth\AppData\Local\Temp\ipykernel_27356\1219698632.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  summed_df_sorted_new_points = summed_df_sorted.groupby('year', group_keys=False).apply(lambda x: x.sort_values(by='new_points', ascending=True))

In [23]:
summed_df_sorted_points

      year        driverRef  points  new_points
24    1950           farina    30.0          25
22    1950          fagioli    28.0          23
23    1950           fangio    27.0          55
66    1950           rosier    13.0          46
2     1950           ascari    11.0          43
...    ...              ...     ...         ...
3184  2023          tsunoda     3.0         154
3172  2023  kevin_magnussen     2.0         186
3168  2023         de_vries     0.0         159
3179  2023        ricciardo     0.0          29
3182  2023         sargeant     0.0         197

[3186 rows x 4 columns]

In [25]:
order_points = summed_df_sorted_points.drop_duplicates(subset=['year'], keep='first')

In [26]:
order_points

      year       driverRef  points  new_points
24    1950          farina   30.00          25
102   1951          fangio   37.00          37
168   1952          ascari   53.50          37
274   1953          ascari   46.50          51
403   1954          fangio   57.14          13
...    ...             ...     ...         ...
3084  2019        hamilton  413.00          50
3105  2020        hamilton  347.00          30
3130  2021  max_verstappen  388.50          91
3153  2022  max_verstappen  433.00          77
3174  2023  max_verstappen  292.00          14

[74 rows x 4 columns]

In [24]:
summed_df_sorted_new_points

      year        driverRef  points  new_points
55    1950          parsons     9.0           1
71    1950         serafini     3.0           2
40    1950          holland     6.0           2
65    1950             rose     4.0           3
33    1950            green     3.0           4
...    ...              ...     ...         ...
3167  2023           bottas     5.0         159
3185  2023             zhou     4.0         167
3171  2023       hulkenberg     6.0         178
3172  2023  kevin_magnussen     2.0         186
3182  2023         sargeant     0.0         197

[3186 rows x 4 columns]

In [27]:
order_new_points = summed_df_sorted_new_points.drop_duplicates(subset=['year'], keep='first')

In [32]:
summed_df_sorted_new_points[summed_df_sorted_new_points['year']==2022]

      year        driverRef  points  new_points
3146  2022         de_vries     2.0           9
3149  2022       hulkenberg     0.0          29
3153  2022   max_verstappen   433.0          77
3159  2022          russell   262.0         110
3157  2022            perez   291.0         119
3152  2022          leclerc   291.0         121
3148  2022         hamilton   233.0         133
3160  2022            sainz   228.0         173
3155  2022           norris   116.0         193
3156  2022             ocon    89.0         195
3163  2022           vettel    37.0         229
3144  2022           alonso    81.0         239
3161  2022           stroll    18.0         265
3145  2022           bottas    47.0         266
3147  2022            gasly    23.0         274
3158  2022        ricciardo    34.0         275
3143  2022            albon     4.0         292
3150  2022  kevin_magnussen    21.0         311
3164  2022             zhou     6.0         315
3154  2022  mick_schumacher    12.0         317
3162  2022          tsunoda    12.0         321
3151  2022           latifi     2.0         357

In [28]:
order_new_points

      year       driverRef  points  new_points
55    1950         parsons     9.0           1
161   1951         wallard     9.0           1
250   1952         ruttman     8.0           1
372   1953        vukovich     9.0           1
468   1954        vukovich     8.0           1
...    ...             ...     ...         ...
3084  2019        hamilton   413.0          50
3099  2020          aitken     0.0          16
3127  2021          kubica     0.0          29
3146  2022        de_vries     2.0           9
3174  2023  max_verstappen   292.0          14

[74 rows x 4 columns]

Doesn't work because some drivers just don't finish the season/race etc.  Instead of order need to assign a value.